@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* ----------

[Table of Contents]

1. Globals
2. Typography
3. Body
4. Header
5. Main
6. Footer


[Color Codes] (extract to SCSS variables if time to refactor)

Primary: #002D40
Secondary: #DFA928
Tertiary: #58585B
Accent: #4E9A92

---------- */


/* 1. Globals */

html, body {
  overflow-x: hidden;
  /* background-color: #002D40; */
}
body {
  position: relative;
}

/* 2. Typography */

/* Define global font family */
* {
  font-family: 'Montserrat', sans-serif !important;
}

/* Define font sizes and weights from style guide */
h1 {
  font-size: 48px;
  font-weight: 800;
  text-align: center;
}
h2 {
  font-size: 36px;
  font-weight: 500;
}
h3 {
  font-size: 30px;
  font-weight: 400;
}
h4 {
  font-size: 24px;
  font-weight: 800;
}
h5 {
  font-size: 24px;
  font-weight: 600;
}
h6 {
  font-size: 20px;
  font-weight: 500;
}
h6.alt {
  font-size: 18px;
  font-weight: 700;
}
p {
  font-size: 16px;
  font-weight: 400;
}
p.medium {
  font-size: 14px;
}
p.small {
  font-size: 12px;
}
p.smallest {
  font-size: 10px;
}

/* 3. Body */
h1 {
  /* color: #4E9A92; */
  color: #002D40;
  -webkit-text-decoration: overline #DFA928;
  text-decoration: overline #DFA928;
}

input {
  color: #4E9A92;
}

input[type=text]:not(.browser-default), input[type=text]:not(.browser-default) {
  border-bottom: 1px solid #4E9A92;
  /* border-bottom: 1px solid #DFA928; */
}
input[type=text]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid #DFA928;
  -webkit-box-shadow: 0 1px 0 0 #DFA928;
  box-shadow: 0 1px 0 0 #DFA928;
}

.input-field>label, .input-field>label.active {
  color: #4E9A92;
}

.select-wrapper .caret {
  fill: #4E9A92;
}

a h4 {
  margin: .15rem 0;
  color: #002D40;
}

/* .collection {
  border: 1px solid #58585B;
}

.collection .collection-item {
  border-bottom: 1px solid #58585B;
}

.collection .collection-item p {
  color: #58585B;
}

.collection .collection-item p.small {
  color: #4E9A92;
} */

.card img {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}
.card a h4 {
  text-align: center;
  margin: 1rem 0;
  color: #002D40;
  line-height: 110%;
}
.card a h4:hover {
  -webkit-text-decoration: underline #DFA928;
  text-decoration: underline #DFA928;
}
.card .card-action {
  border-top: 1px solid #4E9A92;
}
.card p {
  margin: 0;
}
.card p.medium {
  color: #58585B;
}
.card p.small {
  color: #4E9A92;
}
