<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Paul Alexander | Code Challenge</title>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="css/style.css">

</head>

<body>
  <header>
    <h1>Employee Directory</h1>
  </header>
  <main class="container">

      <form class="row">
        <div class="input-field col s12 m6">
          <input id="searchParam" type="text" v-model="searchParam">
          <label for="searchParam">Search by Name...</label>
        </div>

        <div class="input-field col s12 m6">
          <select v-model="department">
            <option value="0" diabled selected>Choose Department</option>
            <option value="Engineering">Engineering</option>
            <option value="Executive">Executive</option>
            <option value="Finance">Finance</option>
            <option value="Marketing">Marketing</option>
            <option value="Human Resources">Human Resources</option>
            <option value="Information Technology">Information Technology</option>
            <option value="Operations">Operations</option>
            <option value="Sales">Sales</option>
          </select>
          <label>Department</label>
        </div>
      </form>

    <section class="row">

      <employee
        v-for="(employee, index) in searchResults"
        :key="employee.id"
        v-bind:profile="employee"
      ></employee>

    </section>

  </main>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <script src="js/app.js"></script>

  <script>
    // Initialize all Materialize components
    M.AutoInit();
  </script>
</body>
</html>
